.app__header {
  padding: 1rem 0.5rem;
  position: fixed;
  background-color: rgb(22, 105, 122);
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  border-bottom: 2px dashed rgb(237, 231, 227);
}

.app__header::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app__title {
  font-size: 1.2rem;
  text-align: center;
  float: left;
  margin: 0;
  color: rgb(237, 231, 227);
}

@media (min-width: 1000px) {
  .app__header {
    position: static;
    padding: 0.5rem 10%;
  }

  .app__title {
    font-size: 2rem;
  }
}

