.app__header {
  padding: 1rem 0.5rem;
  position: fixed;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.app__header::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app__title {
  font-size: 1rem;
  text-align: center;
  float: left;
  margin: 0
}

